@model SMSnew.Models.Student
@{
    ViewBag.Title = "searchstudents";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h2>searchstudents</h2>


<script src="@Url.Content("~/Content/template/")js/custom.min.js"></script>
<script src="@Url.Content("~/Content/template/")js/validation.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //alert("alert");
    });


    function check() {
        var i = 0;
        while (i < 100) {
            $("input:textbox[class=txtclass]").each(function () {
                var val = " ";
                //if ($(this).is(":checked")) {
                //    val = "Present";
                //    document.getElementsByName('txtbox')[i].value = val;
                //}
                //else {
                //    val = "Absent";
                document.getElementsByName('txtbox')[i].value = val;
                x = document.getElementsByName('txtbox')[i].value;
               // }

                //alert(val);

                //document.getElementsByName('ckbox1')[i].value = val;


                i++;



            })

            //if (isNan('txtbox')[i].value;) {
            //            alert("Please make sure there's no alphabetical letters.");
            //            return false;
            //        }
                

           

        }

    };
    </script>

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Dashboard</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </div>
        <div>
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <div>

        @using (Html.BeginForm())
        {


 <!-- Container fluid  -->
    <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Data Export</h4>
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <div class="table-responsive m-t-40">

                                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                @*<th> Student ID</th>*@
                                                <th>Student Name</th>
                                                <th>Marks</th>
                                                @*<th>Status</th>*@
                                                <th style="visibility: hidden;"></th>





                                            </tr>
                                        </thead>
                                        <tfoot>

                                        </tfoot>

                                        <tbody>

                                            @foreach (var item in ViewBag.userdetails)
                                            {
                                                int i = 1;
                                                i++;
                                                <tr>
                                                    @*<td>@item.StudentID </td>*@
                                                    <td>@item.StudFirstName @item.StudLastName</td>
                                                    @*<td>Marks</td>*@


                                                    <td>


                                                        <input type="hidden" id="ExamStudentID" name="ExamStudentID" value="@item.StudentID" class="form-control" />
                                                        <div class="form-group row">
                                                            <div class="col-md-4">
                                                                <div class="controls">
                                                                    <input type="text" name="txtbox" id="txtbox+@i" class="form-control" required data-validation-containsnumber-regex="[+-]?([0-9]*[.])?[0-9]+" data-validation-containsnumber-message="No Characters Allowed, Only Numbers" />
                                                                </div>
                                                                </div>
                                                            </div>
                                                                <span id="errormsg"></span>

                                                                @*<input type="text" class="numericOnly" placeholder="Search" id="txtSearch">*@






</td>





                                                   

                                                </tr>
                                            }

                                            <p>
                                                @Html.ActionLink("Go to list", "listexammarks")
                                            </p>
                                        </tbody>
                                    </table>
                                    <button type="submit" class="btn btn-success" value="save" name="save">Submit</button>
                                    <button type="submit" class="btn btn-inverse" value="cancel" name="cancel">Cancel</button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                                <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" data-theme="red" class="red-theme">3</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme working">4</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                                <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                                <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                                <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" data-theme="red-dark" class="red-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme ">12</a></li>
                            </ul>
                            <ul class="m-t-20 chatonline">
                                <li><b>Chat option</b></li>
                                <li>
                                    <a href="javascript:void(0)"><img src="assets/images/users/1.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="assets/images/users/2.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="assets/images/users/3.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="assets/images/users/4.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="assets/images/users/5.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="assets/images/users/6.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="assets/images/users/7.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="assets/images/users/8.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
    <!-- ============================================================== -->




        }






    </div>
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer"> © 2017 Anikayaj software SolutionsPvt Ltd. </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
@*<script>*@

@*$(".numericOnly").bind('keypress', function (e) {
    if (e.keyCode == '9' || e.keyCode == '16') {
        return;
    }
    var code;
    if (e.keyCode) code = e.keyCode;
    else if (e.which) code = e.which;
    if (e.which == 46)
        return false;
    if (code == 8 || code == 46)
        return true;
    if (code < 48 || code > 57)
        return false;
});


$(".numericOnly").bind("paste", function (e) {
    e.preventDefault();
});

$(".numericOnly").bind('mouseenter', function (e) {
    var val = $(this).val();
    if (val != '0') {
        val = val.replace(/[^0-9]+/g, "")
        $(this).val(val);
    }
});
</script>*@

    <script>
     $(document).ready(function () {
         $(".digit").keypress(function (e) {
             if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                 $("#errormsg").html("Digits Only").show().fadeOut("slow");
                 return false;
             }
         });
     });
    </script>