

@model SMSnew.Models.TC

@{
    ViewBag.Title = "StudentTcEdit11";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<div class="page-wrapper">
  <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Dashboard</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </div>
        <div>
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>

    <div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.TCid)

           <div class="container-fluid">
             
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Other Sample form</h4>
                            </div>
                            <div class="card-body">
                                <form action="#">
                                    <div class="form-body">
                                        <h3 class="card-title">Person Info</h3>
                                        <hr>
                                        @*<div class="row p-t-20">
                                            <div class="col-md-6">
                                                <div class="form-group">


                                                    <label class="control-label">Class</label>
                                                    @Html.DropDownListFor(model => model.ClassLastStudied, ViewBag.ls as SelectList, "---Select Class---", new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.ClassLastStudied, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                  
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Student Name</label>
                                                    @Html.DropDownListFor(model => model.StudId, new SelectList(""), "please select class", new { id = "StudId", @class = "select2 form-control", @required = "required" })


                                              @Html.ValidationMessageFor(model => model.StudId, "", new { @class = "text-danger" })
                                                   <input type="hidden" name="sname" id="sname" value="@ViewBag.sname">
                                                    <input type="hidden" name="sid" id="sid" value="@ViewBag.idd">
                                                </div>
                                            </div>
                       
                                        </div>*@







                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Class</label>
                                                    @*@Html.DropDownList("ClassLastStudied", ViewBag.cls as SelectList, "Please select", new { @class = "form-control", @required = "required" })*@
                       
                                                    @Html.DropDownListFor(model => model.ClassLastStudied, ViewBag.ls as SelectList, "---Select Class---", new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.ClassLastStudied, "", new { @class = "text-danger" })




                                                </div>
                                            </div>

                                            <div class="controls col-md-6">

                                                <label class="control-label">Student Name</label>

                                                <div class="col-md-12">
                                                    @*@Html.DropDownListFor(model => model.StudId, new SelectList(""), "please select class", new { id = "StudId", @class = "select2 form-control", @required = "required" })*@
                                                    @Html.DropDownListFor(model => model.StudId, new SelectList(""), "please select class", new { id = "StudId", @class = "select2 form-control", @required = "required", @style = "width:100%" })

                                                    @Html.ValidationMessageFor(model => model.StudId, "", new { @class = "text-danger" })
                                                    <input type="hidden" name="sname" id="sname" value="@ViewBag.sname">
                                                    <input type="hidden" name="sid" id="sid" value="@ViewBag.idd">

                         
                                                </div>
                                            </div>

                                        </div>





     
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="control-label">GuardianName</label>
                                                @Html.EditorFor(model => model.GuardianName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                                @Html.ValidationMessageFor(model => model.GuardianName, "", new { @class = "text-danger" })
                                            </div>
                                     
                                            <div class="col-md-6">
                                                <div class="form-group">

                                                          <label class="control-label">Any Pending Fees</label>
                                                          @Html.EditorFor(model => model.AnyPendingFees, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                                          @Html.ValidationMessageFor(model => model.AnyPendingFees, "", new { @class = "text-danger" })

                                                      </div>
                                            </div>
                          
                                        </div>
                                  
                                
                                       
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">

                                                    <label class="control-label">Working Days</label>
                                                 @Html.TextBoxFor(model => model.WorkingDays, new
                                                   {
                                                       id = "WorkingDays",
                                                       @class = "form-control",
                                                       @required = "required"
                                                       ,
                                                       @pattern = "[+-]?([0-9]*[.])?[0-9]+"
                                                   })
                                               @Html.ValidationMessageFor(model => model.WorkingDays, "", new { @class = "text-danger" })


                                                </div>
                                            </div>
                                          
                                            <div class="col-md-6">
                                                <div class="form-group">

                                                    <label class="control-label">Working Days Present</label>
                                
                                                    @Html.TextBoxFor(model => model.WorkingDaysPresent, new
                                                   {
                                                       id = "WorkingDaysPresent",
                                                       @class = "form-control",
                                                       @required = "required"
                                                       ,
                                                       @pattern = "[+-]?([0-9]*[.])?[0-9]+"
                                                   })
                                                    @Html.ValidationMessageFor(model => model.WorkingDaysPresent, "", new { @class = "text-danger" })


                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">


                                                    <label class="control-label">Extra Curricular</label>
                                                    @Html.EditorFor(model => model.ExtraCurricular, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                                    @Html.ValidationMessageFor(model => model.ExtraCurricular, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">

                                                    <label class="control-label">TC Application Date</label>
                                                    @Html.TextBoxFor(model => model.TCApplicationDate, "{0:yyyy-MM-dd}", new
                                                   {
                                                       id = "mdate3",
                                                       @class = "form-control",
                                                       @required = "required"
                                                   })


                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Reason For Leaving</label>
                                                    @Html.EditorFor(model => model.ReasonForLeaving, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                                    @Html.ValidationMessageFor(model => model.ReasonForLeaving, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                      
                                            <div class="col-md-6">
                                                <div class="form-group">


                                                    <label class="control-label">Remarks</label>
                                                    @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Modified Description</label>
                                                 @Html.TextAreaFor(m => m.ModifiedDescription, new { @class = "form-control", @required = "required", @rows = 3 })  
                                         @Html.ValidationMessageFor(model => model.ModifiedDescription, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        
                               
                                        </div>

                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-success" id="save" value="save" name="save"> <i class="fa fa-check"></i> Update</button>
                                        <button type="submit" class="btn btn-inverse" value="cancel" name="cancel">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                                <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" data-theme="red" class="red-theme">3</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme working">4</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                                <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                                <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                                <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" data-theme="red-dark" class="red-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme ">12</a></li>
                            </ul>
                            <ul class="m-t-20 chatonline">
                                <li><b>Chat option</b></li>
                                <li>
                                    <a href="javascript:void(0)"><img src="assets/images/users/1.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="assets/images/users/2.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="assets/images/users/3.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="assets/images/users/4.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="assets/images/users/5.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="assets/images/users/6.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="assets/images/users/7.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="assets/images/users/8.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
           
            </div>


        }


    </div>

    <link href="@Url.Content("~/Content/template/")assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/template/")assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/template/")assets/plugins/switchery/dist/switchery.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/template/")assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/template/")assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/template/")assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/template/")assets/plugins/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/template/")css/style.css" rel="stylesheet">
  
    <link href="@Url.Content("~/Content/template/")css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->

    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer"> © 2017 Anikayaj software SolutionsPvt Ltd. </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<script src="@Url.Content("~/Content/template/")assets/plugins/jquery/jquery.min.js"></script>

<script src="@Url.Content("~/Content/template/")assets/plugins/bootstrap/js/popper.min.js"></script>

<script src="@Url.Content("~/Content/template/")assets/plugins/bootstrap/js/bootstrap.min.js"></script><!-- slimscrollbar scrollbar JavaScript -->
<script src="@Url.Content("~/Content/template/")js/jquery.slimscroll.js"></script>

<script src="@Url.Content("~/Content/template/")js/waves.js"></script>

<script src="@Url.Content("~/Content/template/")js/sidebarmenu.js"></script>

<script src="@Url.Content("~/Content/template/")assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<script src="@Url.Content("~/Content/template/")assets/plugins/sparkline/jquery.sparkline.min.js"></script>

<script src="@Url.Content("~/Content/template/")js/custom.min.js"></script>
<!-- ============================================================== -->

<!-- ============================================================== -->
<script src="@Url.Content("~/Content/template/")assets/plugins/switchery/dist/switchery.min.js"></script>
<script src="@Url.Content("~/Content/template/")assets/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/template/")assets/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/template/")assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
<script src="@Url.Content("~/Content/template/")assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Content/template/")assets/plugins/multiselect/js/jquery.multi-select.js"></script>


<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->




<script src="//code.jquery.com/jquery-1.10.2.js" type="text/javascript"></script>




<script>
    $(document).ready(function () {
        $("#ClassLastStudied").change(function () {
   
            $.get("/StudTc/GetDivisionList3", { ClassLastStudied: $("#ClassLastStudied").val() }, function (data) {
                $("#StudId").empty();
                $("#StudId").append("<option value ='" + "...Select Div..." + "'>" + "...Select Div..." + "</option>")
                $.each(data, function (index, row) {
              

                    $("#StudId").append("<option value ='" + row.StudentID + "'>" + row.StudFirstName + " " + row.StudLastName + "</option>")
                });
            });
        })
    });
</script>
<script>
    var e = document.getElementById("ClassLastStudied");
    var strUser = e.options[e.selectedIndex].value;
    var n = document.getElementById("sid").value;
  
    $.get("/StudTc/GetDivisionList1", { strUser: strUser }, function (data) {
        var w = document.getElementById("sname").value;
 
        $("#StudId").empty();
        $("#StudId").append("<option value ='" + n + "'>" + w + "</option>")
        $.each(data, function (index, row) {
     
            $("#StudId").append("<option value ='" + row.StudentID + "'>" + row.StudFirstName + " " + row.StudLastName + "</option>")

          
        });
    });
</script>




<script src="assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>



<script src="@Url.Content("~/Content/template/")assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="@Url.Content("~/Content/template/")assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="@Url.Content("~/Content/template/")assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="@Url.Content("~/Content/template/")js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="@Url.Content("~/Content/template/")js/waves.js"></script>
<!--Menu sidebar -->
<script src="@Url.Content("~/Content/template/")js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="@Url.Content("~/Content/template/")assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<script src="@Url.Content("~/Content/template/")assets/plugins/sparkline/jquery.sparkline.min.js"></script>
<!--Custom JavaScript -->
<script src="@Url.Content("~/Content/template/")js/custom.min.js"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<script src="@Url.Content("~/Content/template/")assets/plugins/switchery/dist/switchery.min.js"></script>
<script src="@Url.Content("~/Content/template/")assets/plugins/select2/dist/js/select2.full.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/template/")assets/plugins/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/template/")assets/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
<script src="@Url.Content("~/Content/template/")assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Content/template/")assets/plugins/multiselect/js/jquery.multi-select.js"></script>
<script>
    jQuery(document).ready(function () {
        // Switchery
        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
        $('.js-switch').each(function () {
            new Switchery($(this)[0], $(this).data());
        });
        // For select 2
        $(".select2").select2();
        $('.selectpicker').selectpicker();
        //Bootstrap-TouchSpin
        $(".vertical-spin").TouchSpin({
            verticalbuttons: true,
            verticalupclass: 'ti-plus',
            verticaldownclass: 'ti-minus'
        });
        var vspinTrue = $(".vertical-spin").TouchSpin({
            verticalbuttons: true
        });
        if (vspinTrue) {
            $('.vertical-spin').prev('.bootstrap-touchspin-prefix').remove();
        }
        $("input[name='tch1']").TouchSpin({
            min: 0,
            max: 100,
            step: 0.1,
            decimals: 2,
            boostat: 5,
            maxboostedstep: 10,
            postfix: '%'
        });
        $("input[name='tch2']").TouchSpin({
            min: -1000000000,
            max: 1000000000,
            stepinterval: 50,
            maxboostedstep: 10000000,
            prefix: '$'
        });
        $("input[name='tch3']").TouchSpin();
        $("input[name='tch3_22']").TouchSpin({
            initval: 40
        });
        $("input[name='tch5']").TouchSpin({
            prefix: "pre",
            postfix: "post"
        });
        // For multiselect
        $('#pre-selected-options').multiSelect();
        $('#optgroup').multiSelect({
            selectableOptgroup: true
        });
        $('#public-methods').multiSelect();
        $('#select-all').click(function () {
            $('#public-methods').multiSelect('select_all');
            return false;
        });
        $('#deselect-all').click(function () {
            $('#public-methods').multiSelect('deselect_all');
            return false;
        });
        $('#refresh').on('click', function () {
            $('#public-methods').multiSelect('refresh');
            return false;
        });
        $('#add-option').on('click', function () {
            $('#public-methods').multiSelect('addOption', {
                value: 42,
                text: 'test 42',
                index: 0
            });
            return false;
        });
        $(".ajax").select2({
            ajax: {
                url: "https://api.github.com/search/repositories",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;
                    return {
                        results: data.items,
                        pagination: {
                            more: (params.page * 30) < data.total_count
                        }
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) {
                return markup;
            }, // let our custom formatter work
            minimumInputLength: 1,
            templateResult: formatRepo, // omitted for brevity, see the source of this page
            templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
        });
    });
</script>
<script src="@Url.Content("~/Content/template/")assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
<!-- ============================================================== -->
<!-- Style switcher -->
<!-- ============================================================== -->




<script type="text/javascript">
    $(function () {
        $('#save').click(function () {
            var txt = $('#StudId');
         
            if ($("#StudId").val() == "...Select Div...") {
                alert("Please select a Student");
                return false;
            }


        })
    });
</script>




