@model SMSnew.Models.StockItem

@{
    ViewBag.Title = "EditStockItem";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
@section Styles
{
    <link href="@Url.Content("~/Content/template/")assets/plugins/wizard/steps.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/template/")assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/template/")assets/plugins/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/template/")assets/plugins/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/template/")assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/template/")assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/template/")assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-info">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">Stock Item</h4>
                    </div>

                    <div class="card-body">

                        <div class="form-body">
                            <h3 class="card-title">Edit Item</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Item</label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control", @required = "required", @maxlength = "50" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Category</label>
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.CategoryId, ViewBag.ddlCategory as SelectList, "...Select One...", new { @class = "form-control", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Item Unit</label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.ItemUnit, new { htmlAttributes = new { @class = "form-control", @required = "required", @maxlength = "50" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Item Price</label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.ItemUnitPrice, new { htmlAttributes = new { @class = "form-control", @required = "required", @maxlength = "15", @type = "number", onblur = "ToDecimal(this);", onkeyup = "calcTaxAmount();", style = "text-align:right;" } })
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Tax Percentage</label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.ItemTaxPercentage, new { htmlAttributes = new { @class = "form-control", @required = "required", @maxlength = "15", @type = "number", onblur = "ToDecimal(this);", onkeyup = "calcTaxAmount();", style = "text-align:right;" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Tax Amount</label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.ItemTaxAmount, new { htmlAttributes = new { @class = "form-control", @required = "required", @maxlength = "15", @type = "number", onblur = "ToDecimal(this);", style = "text-align:right;" } })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Tax Description</label>
                                        <div class="col-md-10">
                                            @Html.TextAreaFor(model => model.ItemDescription, new { @maxlength = "50", @cols = "40", @rows = "5", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-actions">
                                <button type="submit" name="Save" id="Save" value="Save" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                                <button type="button" name="Cancel" value="Cancel" onclick="location.href='@Url.Action("ListStockItem","StockItem")'" class="btn btn-inverse">Cancel </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}

@section Scripts
{
    <script>
        function calcTaxAmount() {

            var TaxPer = $('#ItemTaxPercentage').val();
            var ItemAmount = $('#ItemUnitPrice').val();
            var TaxAmt = parseFloat(ItemAmount * (TaxPer / 100)).toFixed(2);
            $('#ItemTaxAmount').val(TaxAmt);

        }

        function ToDecimal(e) {
            var ObjValue = e.value;
            $(e).val(parseFloat(ObjValue).toFixed(2));
        }
    </script>
}

