
@model IEnumerable<SMSnew.Models.AcademicYear>

    @{
        ViewBag.Title = "academaicyr";
        Layout = "~/Views/Shared/_adminLayout.cshtml";
    }


<!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Dashboard</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
            <div>
                <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <div>
     

            @using (Html.BeginForm())
            {
     <!-- Container fluid  -->
            <!-- ============================================================== -->
                <div class="container-fluid">
                    <!-- ============================================================== -->
                    <!-- Start Page Content -->
                    <!-- ============================================================== -->
                    <!-- Row -->
                    <div class="row">
                        <div class="col-lg-12">

                        </div>
                    </div>
                    <!-- Row -->
                    <!-- Row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-outline-info">
                                <div class="card-header">
                                    <h4 class="m-b-0 text-white">Other Sample Horizontal form</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                    <!-- Row -->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Sample Form with the Icons</h4>
                                    <h6 class="card-subtitle">made with bootstrap elements</h6>
                                    <form class="form p-t-20">
                                        <div class="form-group">
                                            <label for="exampleInputuname">Start Year</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"></div>
                                                @*<input type="text" class="form-control" id="exampleInputuname" placeholder="XXXX" name="AcademicStartYear">*@
                      @Html.DropDownList("Year", new SelectList(Enumerable.Range(DateTime.Now.Year, 20).ToList()), "-- Select Year --", new { @class = "form-control" })

                                                @*<select class="form-control custom-select" name="AcademicStartMonth" id="AcademicStartMonth">
                                                 int i=0;
                                                    
                                                     for(i=2018;i>2022;i++)
                                                    {
                                                     <option value="i"> i</option>
                                                    }
                                                </select>*@
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Start Month</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"></div>
                                                @*<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Jan-Dec" name="AcademicStartMonth">*@

                                                <select class="form-control custom-select" name="AcademicStartMonth" id="AcademicStartMonth">
                                                    <option value="">select month</option>
                                                    <option value="January">January</option>
                                                    <option value="February">February</option>
                                                    <option value="">March</option>
                                                    <option value="March">April</option>
                                                    <option value="May">May</option>
                                                    <option value="June">June</option>
                                                    <option value="July">July</option>
                                                    <option value="August">August</option>
                                                    <option value="September">September</option>
                                                    <option value="October">October</option>
                                                    <option value="November">November</option>
                                                    <option value="December">December</option>
                                                </select>


                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="pwd1">End year</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"></div>
                                               
                                                @Html.DropDownList("Year2", new SelectList(Enumerable.Range(DateTime.Now.Year, 20).ToList()), "-- Select Year --", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="pwd2">End Month</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"></div>
                                              
                                                <select class="form-control custom-select" name="AcademicEndMonth" id="AcademicEndMonth">
                                                    <option value="">select month</option>
                                                    <option value="January">January</option>
                                                    <option value="February">February</option>
                                                    <option value="">March</option>
                                                    <option value="March">April</option>
                                                    <option value="May">May</option>
                                                    <option value="June">June</option>
                                                    <option value="July">July</option>
                                                    <option value="August">August</option>
                                                    <option value="September">September</option>
                                                    <option value="October">October</option>
                                                    <option value="November">November</option>
                                                    <option value="December">December</option>
                                                </select>


                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" name="submit" value="submit">Submit</button>
                                        <button type="submit" class="btn btn-inverse waves-effect waves-light" name="cancel" value="cancel">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Sample Form with the right Icons</h4>
                                    <h6 class="card-subtitle">made with bootstrap elements</h6>


                                    <div class="table-responsive">
                                        <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
                                            <thead>
                                                <tr>
                                                    <th>Start Month</th>
                                                    <th>End Month</th>
                                                    <th>Start Years</th>
                                                    <th>End  Years</th>
                                                    <th> Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>


                                                @foreach (var item in Model)
                                                {

                                                    <tr>
                                                        <td>@Html.DisplayFor(modelItem => item.AcademicStartMonth)</td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.AcademicEndMonth)
                                                        </td>


                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.AcademicStartYear)
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.AcademicEndYear)
                                                        </td>



                                                        <td>
                                                            @Html.ActionLink("Edit", "acdyredt", new { id = item.AcademicYearId })
                                                        </td>


                                                    </tr>






                                                }
                                            </tbody>

                                        </table>
                                    </div>







                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">

                        </div>
                        <div class="col-lg-6">

                        </div>
                    </div>
                    <!-- Row -->
                    <!-- Row -->
                    <div class="row">
                        <div class="col-lg-12">

                        </div>
                    </div>
                    <!-- Row -->
                    <!-- Row -->
                    <div class="row">
                        <div class="col-lg-12">

                        </div>
                    </div>
                    <!-- Row -->
                    <!-- ============================================================== -->
                    <!-- End PAge Content -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Right sidebar -->
                    <!-- ============================================================== -->
                    <!-- .right-sidebar -->
                    <div class="right-sidebar">
                        <div class="slimscrollright">
                            <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                            <div class="r-panel-body">
                                <ul id="themecolors" class="m-t-20">
                                    <li><b>With Light sidebar</b></li>
                                    <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                                    <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                                    <li><a href="javascript:void(0)" data-theme="red" class="red-theme">3</a></li>
                                    <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme working">4</a></li>
                                    <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                                    <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                                    <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                                    <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                                    <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                                    <li><a href="javascript:void(0)" data-theme="red-dark" class="red-dark-theme">9</a></li>
                                    <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                                    <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                                    <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme ">12</a></li>
                                </ul>
                                <ul class="m-t-20 chatonline">
                                    <li><b>Chat option</b></li>
                                    <li>
                                        <a href="javascript:void(0)"><img src="assets/images/users/1.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><img src="assets/images/users/2.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><img src="assets/images/users/3.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><img src="assets/images/users/4.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><img src="assets/images/users/5.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><img src="assets/images/users/6.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><img src="assets/images/users/7.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><img src="assets/images/users/8.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Right sidebar -->
                    <!-- ============================================================== -->
                </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->

            }





        </div>
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer"> © 2017 Anikayaj software SolutionsPvt Ltd. </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
<!-- ============================================================== -->











