@model SMSnew.Models.Group
@{
    ViewBag.Title = "groupedt";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Dashboard</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
            <div>
                <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <div>
            <html>
            <head>
                <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
                <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
            </head>
            <body>
                @using (Html.BeginForm())
                {

 <!-- Container fluid  -->
        <!-- ============================================================== -->
                    <div class="container-fluid">
                        <!-- ============================================================== -->
                        <!-- Start Page Content -->
                        <!-- ============================================================== -->
                        <!-- Row -->
                        <div class="row">

                        </div>
                        <!-- Row -->
                        <!-- Row -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card card-outline-info">
                                    <div class="card-header">
                                        <h4 class="m-b-0 text-white">Are you sure you want to update this User Profile</h4>
                                    </div>
                                    <div class="card-body">
                                        <form action="#" class="form-horizontal">
                                            <div class="form-body">
                                                <h3 class="box-title">Group Details</h3>


                                                <hr class="m-t-0 m-b-40">
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                @Html.HiddenFor(model => model.Groupid)


                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="control-label text-right col-md-3"> Group </label>
                                                            <div class="col-md-9">
                                                                @*<input type="text" class="form-control" placeholder="name" name="Username">*@
                                                                <label class="col-md-9">
                                                                    @Html.EditorFor(model => model.GroupName, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.GroupName, "", new { @class = "text-danger" })
                                                                </label>


                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class="control-label text-right col-md-3">Description</label>
                                                            <div class="col-md-9">
                                                                @*<label class="col-md-9">*@
                                                                <div class="col-md-9">
                                                                    @Html.EditorFor(model => model.GroupDescription, new { htmlAttributes = new { @class = "form-control form-control-danger" } })
                                                                    @Html.ValidationMessageFor(model => model.GroupDescription, "", new { @class = "text-danger" })
                                                                </div>
                                                                @*@Html.EditorFor(model => model.GroupDescription, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.GroupDescription, "", new { @class = "text-danger" })*@
                                                                @*</label>*@

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <hr>
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-offset-3 col-md-9">

                                                                <button type="submit" class="btn btn-success" value="save" name="save">Update</button>
                                                                <button type="submit" class="btn btn-success" value="Cancel" name="Cancel">Cancel</button>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6"> </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                }
            </body>
        </html>
        </div>
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer"> © 2017 Anikayaj software SolutionsPvt Ltd. </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
 ============================================================== 






















